/* ## Animate Widgets
----------------------------------------------------------------------------- */
.aw-fields {
    padding: 10px;
    background: #f1f1f1;
    border: 1px solid #ddd;
    margin: 10px 0;
}

.aw-fields:before, .aw-fields:after {
    content: '';
    display: table;
}

.aw-fields:after {
    clear: both;
}

.aw-fields p {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.aw-fields p label {
    margin-right: auto;
}

.aw-fields p strong {
    text-transform: uppercase;
}

.aw-fields p:first-child {
    display: block;
    margin-top: 0;
}

.aw-fields p:last-child {
    margin-bottom: 0;
}